{
    "presets": [
        "next/babel"
    ],
    "env": {
        "test": {
            "presets": [
                "next/babel"
            ]
        },
        "development": {
            "plugins": [
                [
                    "styled-components",
                    {
                        "ssr": true,
                        "displayName": true,
                        "preprocess": false
                    }
                ]
            ],
            "presets": [
                "next/babel"
            ]
        },
        "production": {
            "plugins": [
                [
                    "styled-components",
                    {
                        "ssr": true,
                        "displayName": true,
                        "preprocess": false
                    }
                ]
            ],
            "presets": [
                "next/babel"
            ]
        }
    },
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "actions": "./data/actions",
                    "reducers": "./data/reducers",
                    "sagas": "./data/sagas",
                    "types": "./data/types",
                    "requests": "./data/requests",
                    "lib": "./lib",
                    "routes": "./routes",
                    "i18n": "./i18n",
                    "utils": "./utils",
                    "components": "./components",
                    "icons": "./components/Icons",
                    "layout": "./layout",
                    "consts": "./consts",
                    "sections": "./sections",
                    "scripts": "./scripts",
                    "pages": "./pages",
                    "selectors": "./data/selectors"
                }
            }
        ],
        [
            "styled-components",
            {
                "ssr": true,
                "displayName": true,
                "preprocess": false
            }
        ]
    ]
}
