{
  "ignorePatterns": [
    "/static/widget/**/*.js"
  ],
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/no-anonymous-default-export": "off",
  },
  "overrides": [
    {
      "files": [
        "*.jsx"
      ],
      "rules": {
        "react/react-in-jsx-scope": "off",
        "react/jsx-one-expression-per-line": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "react/jsx-indent": "off",
        "react/jsx-closing-tag-location": "off",
        "no-underscore-dangle": "off"
      }
    }
  ]
}
